<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>

    <script src="js/lib/jquery-2.2.4.min.js"></script>

  </head>
  <body>
    <button id="increase">Increase Temperature</button>
    <button id="decrease">Decrease Temperature</button>
    <button id="reset">Reset</button>
    <label class="switch">Power Saving On<input type="checkbox" checked> <span class="slider"></span>
    </label>
    <div id="temp"></div>
  </body>
</html>
